.btn-primary {
    background-color: $color-orange-accessible !important;
}

/* ==================
   Page Header
   ================== */

.page__header {
//   margin: 1.5rem 0 0 0;

  &__logo {
    width: 100px;

    display: inline-block;
    img {
      width: 100%;
      height: auto;
    }
  }

  &__title {
    // @include serif-title();
    @include black-links();
    // width: 100%;
    // font-size: 2.3rem;
  }
}

.page {
  // Make .page take up as much vertical space as possible in the
  // viewport, pushing the footer to the bottom.  That's what the "1"
  // below does.
  flex: 1 0 auto;

  &__content {
    margin-left: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

}

.pagination .active a {
  background-color: $color-orange-accessible !important;
}

.badge {
    // display: inline-block;
    // padding: 0.35 em 0.65 em;
    // font-size: .75em;
    // font-weight: 700;
    // line-height: 1;
    // color: #fff;
    // text-align: center;
    // white-space: nowrap;
    // vertical-align: baseline;
    // border-radius: 0.25 rem;
    // font-size: inherit;
    // padding: inherit;
    // line-height: inherit;
    // height: inherit;
}

/* ==================
   Page Footer
   ================== */

.ads_footer {
  background-color: $color-ribbon;
  font-size: 13px;

  &__content {
    // padding: 10px;

    &__contact {
      line-height: 1.4;
      color: #eee;
      a, a:visited {
        color: lighten($color-orange, 10%);
      }
    }

    &__links {
      @include all-caps-horizontal-links();
    }
  }
}
