/* ======================================
   The grey ribbon at the top of the page
   ====================================== */

.ribbon_bar {
  background-color: $color-ribbon !important;
  // Only reason #ribbon is set to position: relative to is to make z-index work.
  position: relative;
  z-index: $float_z + 1;
  &__content {
    min-height: $ribbon_height;
    &__links {
      @include all-caps-horizontal-links();
      font-size: 0.78571429em;
      a {
        margin-left: 10px;
      }
    }
    &__login {
      color: $color-white;
      font-size: 1.3rem;
    }
    &__username {
    display: block;
    color: $color-ltgray;
    }

    &__breadcrumbs {
        .breadcrumb-item + .breadcrumb-item::before {
            // content: '>' !important;
            color: $color-white;
        }
        .breadcrumb-item.active a {
            pointer-events: auto !important;
            text-decoration: none;
        }
        .breadcrumb-item:not(.active) {
            font-weight: bold;
        }
    }
  }
}
