@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
.bg-ltgray {
  background: #c8c8c8; }

.text-ltgray {
  color: #c8c8c8 !important; }

.bg-ltgray-lt {
  color: #c8c8c8 !important;
  background: rgba(200, 200, 200, 0.1) !important; }

.border-ltgray {
  border-color: #c8c8c8 !important; }

.bg-veryltgray {
  background: #e5e5e5; }

.text-veryltgray {
  color: #e5e5e5 !important; }

.bg-veryltgray-lt {
  color: #e5e5e5 !important;
  background: rgba(229, 229, 229, 0.1) !important; }

.border-veryltgray {
  border-color: #e5e5e5 !important; }

.bg-gray {
  background: #aaa99f; }

.text-gray {
  color: #aaa99f !important; }

.bg-gray-lt {
  color: #aaa99f !important;
  background: rgba(170, 169, 159, 0.1) !important; }

.border-gray {
  border-color: #aaa99f !important; }

.bg-medgray {
  background: #76777b; }

.text-medgray {
  color: #76777b !important; }

.bg-medgray-lt {
  color: #76777b !important;
  background: rgba(118, 119, 123, 0.1) !important; }

.border-medgray {
  border-color: #76777b !important; }

.bg-dkgray {
  background: #616265; }

.text-dkgray {
  color: #616265 !important; }

.bg-dkgray-lt {
  color: #616265 !important;
  background: rgba(97, 98, 101, 0.1) !important; }

.border-dkgray {
  border-color: #616265 !important; }

.bg-ltbrngray {
  background: #e9e7e4; }

.text-ltbrngray {
  color: #e9e7e4 !important; }

.bg-ltbrngray-lt {
  color: #e9e7e4 !important;
  background: rgba(233, 231, 228, 0.1) !important; }

.border-ltbrngray {
  border-color: #e9e7e4 !important; }

.bg-vltgray {
  background: #f3f1f1; }

.text-vltgray {
  color: #f3f1f1 !important; }

.bg-vltgray-lt {
  color: #f3f1f1 !important;
  background: rgba(243, 241, 241, 0.1) !important; }

.border-vltgray {
  border-color: #f3f1f1 !important; }

.bg-bodybg {
  background: #222222; }

.text-bodybg {
  color: #222222 !important; }

.bg-bodybg-lt {
  color: #222222 !important;
  background: rgba(34, 34, 34, 0.1) !important; }

.border-bodybg {
  border-color: #222222 !important; }

.bg-ltyellow {
  background: #f8f199; }

.text-ltyellow {
  color: #f8f199 !important; }

.bg-ltyellow-lt {
  color: #f8f199 !important;
  background: rgba(248, 241, 153, 0.1) !important; }

.border-ltyellow {
  border-color: #f8f199 !important; }

.bg-fadedgray {
  background: #666666; }

.text-fadedgray {
  color: #666666 !important; }

.bg-fadedgray-lt {
  color: #666666 !important;
  background: rgba(102, 102, 102, 0.1) !important; }

.border-fadedgray {
  border-color: #666666 !important; }

.bg-olivegreen {
  background: #a9b734; }

.text-olivegreen {
  color: #a9b734 !important; }

.bg-olivegreen-lt {
  color: #a9b734 !important;
  background: rgba(169, 183, 52, 0.1) !important; }

.border-olivegreen {
  border-color: #a9b734 !important; }

.bg-purple {
  background: #95348d; }

.text-purple {
  color: #95348d !important; }

.bg-purple-lt {
  color: #95348d !important;
  background: rgba(149, 52, 141, 0.1) !important; }

.border-purple {
  border-color: #95348d !important; }

.bg-darkteal {
  background: #005e5c; }

.text-darkteal {
  color: #005e5c !important; }

.bg-darkteal-lt {
  color: #005e5c !important;
  background: rgba(0, 94, 92, 0.1) !important; }

.border-darkteal {
  border-color: #005e5c !important; }

.bg-midgray {
  background: #afafaf; }

.text-midgray {
  color: #afafaf !important; }

.bg-midgray-lt {
  color: #afafaf !important;
  background: rgba(175, 175, 175, 0.1) !important; }

.border-midgray {
  border-color: #afafaf !important; }

.bg-darkergray {
  background: #696b73; }

.text-darkergray {
  color: #696b73 !important; }

.bg-darkergray-lt {
  color: #696b73 !important;
  background: rgba(105, 107, 115, 0.1) !important; }

.border-darkergray {
  border-color: #696b73 !important; }

.bg-crimson {
  background: #731936; }

.text-crimson {
  color: #731936 !important; }

.bg-crimson-lt {
  color: #731936 !important;
  background: rgba(115, 25, 54, 0.1) !important; }

.border-crimson {
  border-color: #731936 !important; }

.bg-black-text {
  background: #333333; }

.text-black-text {
  color: #333333 !important; }

.bg-black-text-lt {
  color: #333333 !important;
  background: rgba(51, 51, 51, 0.1) !important; }

.border-black-text {
  border-color: #333333 !important; }

.bg-goldenrod {
  background: #ecaa00; }

.text-goldenrod {
  color: #ecaa00 !important; }

.bg-goldenrod-lt {
  color: #ecaa00 !important;
  background: rgba(236, 170, 0, 0.1) !important; }

.border-goldenrod {
  border-color: #ecaa00 !important; }

.bg-maroon {
  background: #7a303f; }

.text-maroon {
  color: #7a303f !important; }

.bg-maroon-lt {
  color: #7a303f !important;
  background: rgba(122, 48, 63, 0.1) !important; }

.border-maroon {
  border-color: #7a303f !important; }

.bg-ribbon {
  background: #696b73; }

.text-ribbon {
  color: #696b73 !important; }

.bg-ribbon-lt {
  color: #696b73 !important;
  background: rgba(105, 107, 115, 0.1) !important; }

.border-ribbon {
  border-color: #696b73 !important; }

.bg-ribbon_text {
  background: #CCCCCC; }

.text-ribbon_text {
  color: #CCCCCC !important; }

.bg-ribbon_text-lt {
  color: #CCCCCC !important;
  background: rgba(204, 204, 204, 0.1) !important; }

.border-ribbon_text {
  border-color: #CCCCCC !important; }

.bg-hero_image_title {
  background: #ECAA00; }

.text-hero_image_title {
  color: #ECAA00 !important; }

.bg-hero_image_title-lt {
  color: #ECAA00 !important;
  background: rgba(236, 170, 0, 0.1) !important; }

.border-hero_image_title {
  border-color: #ECAA00 !important; }

.bg-blue {
  background: #0d6efd; }

.text-blue {
  color: #0d6efd !important; }

.bg-blue-lt {
  color: #0d6efd !important;
  background: rgba(13, 110, 253, 0.1) !important; }

.border-blue {
  border-color: #0d6efd !important; }

.bg-azure {
  background: #4299e1; }

.text-azure {
  color: #4299e1 !important; }

.bg-azure-lt {
  color: #4299e1 !important;
  background: rgba(66, 153, 225, 0.1) !important; }

.border-azure {
  border-color: #4299e1 !important; }

.bg-indigo {
  background: #6610f2; }

.text-indigo {
  color: #6610f2 !important; }

.bg-indigo-lt {
  color: #6610f2 !important;
  background: rgba(102, 16, 242, 0.1) !important; }

.border-indigo {
  border-color: #6610f2 !important; }

.bg-pink {
  background: #d63384; }

.text-pink {
  color: #d63384 !important; }

.bg-pink-lt {
  color: #d63384 !important;
  background: rgba(214, 51, 132, 0.1) !important; }

.border-pink {
  border-color: #d63384 !important; }

.bg-red {
  background: #dc3545; }

.text-red {
  color: #dc3545 !important; }

.bg-red-lt {
  color: #dc3545 !important;
  background: rgba(220, 53, 69, 0.1) !important; }

.border-red {
  border-color: #dc3545 !important; }

.bg-orange {
  background: #fd7e14; }

.text-orange {
  color: #fd7e14 !important; }

.bg-orange-lt {
  color: #fd7e14 !important;
  background: rgba(253, 126, 20, 0.1) !important; }

.border-orange {
  border-color: #fd7e14 !important; }

.bg-yellow {
  background: #ffc107; }

.text-yellow {
  color: #ffc107 !important; }

.bg-yellow-lt {
  color: #ffc107 !important;
  background: rgba(255, 193, 7, 0.1) !important; }

.border-yellow {
  border-color: #ffc107 !important; }

.bg-lime {
  background: #74b816; }

.text-lime {
  color: #74b816 !important; }

.bg-lime-lt {
  color: #74b816 !important;
  background: rgba(116, 184, 22, 0.1) !important; }

.border-lime {
  border-color: #74b816 !important; }

.bg-green {
  background: #198754; }

.text-green {
  color: #198754 !important; }

.bg-green-lt {
  color: #198754 !important;
  background: rgba(25, 135, 84, 0.1) !important; }

.border-green {
  border-color: #198754 !important; }

.bg-teal {
  background: #20c997; }

.text-teal {
  color: #20c997 !important; }

.bg-teal-lt {
  color: #20c997 !important;
  background: rgba(32, 201, 151, 0.1) !important; }

.border-teal {
  border-color: #20c997 !important; }

.bg-cyan {
  background: #0dcaf0; }

.text-cyan {
  color: #0dcaf0 !important; }

.bg-cyan-lt {
  color: #0dcaf0 !important;
  background: rgba(13, 202, 240, 0.1) !important; }

.border-cyan {
  border-color: #0dcaf0 !important; }

:root {
  font-size: 18px !important; }
  :root table tr td a:not(.btn), :root table tr td a:not(.btn):hover, :root table tr td a:not(.btn):visited {
    color: #D14900; }
  :root .form-control-plaintext {
    padding: 0.4375rem 0.75rem; }
  :root .widget-list__sidebar .h2,
  :root .widget-list__main .h2 {
    margin-bottom: 0; }
  :root .widget-index__item {
    font-size: 1rem; }
  :root .bg-light {
    color: var(--tblr-body-color) !important; }

@media only screen and (min-width: 1200px) {
  .navbar-vertical .navbar-brand {
    justify-content: start !important;
    margin-bottom: 1rem; } }

.messages__item:first-child {
  margin-top: 1rem; }

.submenu .nav-link.active {
  background-color: rgba(245, 159, 0, 0.3);
  border-radius: 20px; }

/* ===================================================================
   Use these in your CSS via the SCSS mixin syntax.  Example:

   @import "_mixins.scss";

   .my_title {
     @include serif-title();
   }
=================================================================== */
/*
  Turn a <ul> or <ol> into a set of all caps,
  white links, horizontally oriented.  Usage:

  .my-nav {
    @include all-caps-horizontal-links();
  }

*/
/*
  Center something in the browser window, and make it
  be @responsive_grid_w wide.  Usage:

  .my-div {
    @include page-width-centered();
  }
*/
@-webkit-keyframes highlight {
  0% {
    background-color: transparent; }
  50% {
    background-color: #ffdb67; }
  100% {
    background-color: transparent; } }

@keyframes highlight {
  0% {
    background-color: transparent; }
  50% {
    background-color: #ffdb67; }
  100% {
    background-color: transparent; } }

/* ======================================
   The grey ribbon at the top of the page
   ====================================== */
.ribbon_bar {
  background-color: #626976 !important;
  position: relative;
  z-index: 501; }
  .ribbon_bar__content {
    min-height: 38px; }
    .ribbon_bar__content__links {
      margin: 0;
      font-size: 0.8em;
      font-size: 0.78571429em; }
      .ribbon_bar__content__links a, .ribbon_bar__content__links a:visited {
        color: #ffffff !important;
        text-transform: uppercase;
        font-weight: bold; }
      .ribbon_bar__content__links li {
        display: inline-block;
        padding-left: 1.25em; }
        .ribbon_bar__content__links li:first-child {
          padding-left: 0; }
      .ribbon_bar__content__links a {
        margin-left: 10px; }
    .ribbon_bar__content__login {
      color: #ffffff;
      font-size: 1.3rem; }
    .ribbon_bar__content__username {
      display: block;
      color: #c8c8c8; }
    .ribbon_bar__content__breadcrumbs .breadcrumb-item + .breadcrumb-item::before {
      color: #ffffff; }
    .ribbon_bar__content__breadcrumbs .breadcrumb-item.active a {
      pointer-events: auto !important;
      text-decoration: none; }
    .ribbon_bar__content__breadcrumbs .breadcrumb-item:not(.active) {
      font-weight: bold; }

.btn-primary {
  background-color: #D14900 !important; }

/* ==================
   Legacy Page Header
   ================== */
.legacy__page__header {
  margin: 1.5rem 0 0 0; }
  @media (min-width: 768px) {
    .legacy__page__header {
      height: 4.5em;
      margin: 2em 0 .8em 0; } }
  .legacy__page__header__logo {
    width: 120px;
    height: 30px;
    display: inline-block; }
    .legacy__page__header__logo img {
      width: 100%; }
    @media (min-width: 768px) {
      .legacy__page__header__logo {
        width: 160px;
        height: 40px; }
        .legacy__page__header__logo img {
          vertical-align: baseline; } }
  .legacy__page__header__title {
    width: 100%;
    font-size: 1.2rem;
    margin: 0 0 -22px 1rem; }
    @media (min-width: 768px) {
      .legacy__page__header__title {
        font-size: 1.8rem;
        margin: 0 0 -22px 2rem;
        border-bottom: 1px solid #ff6c0c; } }
/* ==================
   Page Header
   ================== */
.page__header__logo {
  width: 100px;
  display: inline-block; }
  .page__header__logo img {
    width: 100%;
    height: auto; }

.page__header__title a, .page__header__title a:visited {
  color: #000000;
  text-decoration: none; }

.caltech-links a, .caltech-links a:visited {
  color: #D14900 !important;
  text-decoration: none; }

.caltech-links a:hover {
  text-decoration: underline; }

.page {
  flex: 1 0 auto; }
  .page__content {
    margin-bottom: 3em; }

.pagination .active a {
  background-color: #D14900 !important; }

/* ==================
   Page Footer
   ================== */
.ads_footer {
  background-color: #626976;
  font-size: 13px; }
  .ads_footer__content__contact {
    line-height: 1.4;
    color: #eee; }
    .ads_footer__content__contact a, .ads_footer__content__contact a:visited {
      color: #ff8b3f; }
  .ads_footer__content__links {
    margin: 0;
    font-size: 0.8em; }
    .ads_footer__content__links a, .ads_footer__content__links a:visited {
      color: #ffffff !important;
      text-transform: uppercase;
      font-weight: bold; }
    .ads_footer__content__links li {
      display: inline-block;
      padding-left: 1.25em; }
      .ads_footer__content__links li:first-child {
        padding-left: 0; }
