include MANIFEST.in
include LICENSE.txt
include README.md
include sphinx_hosting/py.typed
recursive-include sphinx_hosting/static *
recursive-include sphinx_hosting/fixtures *
recursive-include sphinx_hosting/templates *
