# Documentation
# ------------------------------------------------------------------------------
Sphinx==6.2.1                                 # https://github.com/sphinx-doc/sphinx
sphinx_rtd_theme
git+https://github.com/sphinx-doc/sphinxcontrib-django@e9d43085ffc9b921fd7d880ff38d4e1d24d8d791
sphinxcontrib-openapi                         # https://github.com/sphinx-contrib/openapi
